<div>
  <section>
    <h1>{{name}}</h1>
    <ul class='list-group row'>
      <h3>Users</h3>
      {{#each users}}
        <li class='list-group-item'>
          <p>
            id:
            <em>{{id}}</em>
          </p>
          <p>
            name:
            <b>{{name}}</b>
          </p>
          <p>
            gender:
            <em>{{gender}}</em>
          </p>
          <p>
            age:
            <em>{{age}}</em>
          </p>
          <ul>
            <i>Friends</i>
            {{#each friends}}
              <li class='mt-3'>
                <p>
                  id:
                  <em>{{id}}</em>
                </p>
                <p>
                  name:
                  <b>{{name}}</b>
                </p>
                <p>
                  gender:
                  <em>{{gender}}</em>
                </p>
                <p>
                  age:
                  <em>{{age}}</em>
                </p>
                <ul>
                  <i>Mutual friends</i>
                  {{#each mutual_friends}}
                    <li class='mt-3'>
                      <p>
                        id:
                        <em>{{id}}</em>
                      </p>
                      <p>
                        name:
                        <b>{{name}}</b>
                      </p>
                      <p>
                        gender:
                        <em>{{gender}}</em>
                      </p>
                      <p>
                        age:
                        <em>{{age}}</em>
                      </p>
                      <ol>
                        {{#each mutual_friends}}
                          <i>Mutual friends</i>
                          <li class='mt-3'>
                            <p>
                              id:
                              <em>{{id}}</em>
                            </p>
                            <p>
                              name:
                              <b>{{name}}</b>
                            </p>
                            <p>
                              gender:
                              <em>{{gender}}</em>
                            </p>
                            <p>
                              age:
                              <em>{{age}}</em>
                            </p>
                          </li>
                        {{/each}}
                      </ol>
                    </li>
                  {{/each}}
                </ul>
                <ul>
                  {{#each groups}}
                    <i>Group</i>
                    <li class='mt-3'>
                      <p>
                        id:
                        <em>{{id}}</em>
                      </p>
                      <p>
                        name:
                        <b>{{name}}</b>
                      </p>
                      <p>
                        description:
                        <em>{{description}}</em>
                      </p>
                      <ul>
                        <i>Members</i>
                        {{#each members}}
                          <li class='mt-3'>
                            <p>
                              id:
                              <em>{{id}}</em>
                            </p>
                            <p>
                              name:
                              <b>{{name}}</b>,
                            </p>
                            <p>
                              gender:
                              <em>{{gender}}</em>,
                            </p>
                            <p>
                              age:
                              <em>{{age}}</em>
                            </p>
                          </li>
                        {{/each}}
                      </ul>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
          <ul>
            {{#each groups}}
              <i>Group</i>
              <li class='mt-3'>
                <p>
                  id:
                  <em>{{id}}</em>
                </p>
                <p>
                  name:
                  <b>{{name}}</b>
                </p>
                <p>
                  description:
                  <em>{{description}}</em>
                </p>
                <ul>
                  <i>Members</i>
                  {{#each members}}
                    <li class='mt-3'>
                      <p>
                        id:
                        <em>{{id}}</em>
                      </p>
                      <p>
                        name:
                        <b>{{name}}</b>,
                      </p>
                      <p>
                        gender:
                        <em>{{gender}}</em>,
                      </p>
                      <p>
                        age:
                        <em>{{age}}</em>
                      </p>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </section>
</div>