{{!--
Це код container файлу для education сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/person"
--}}

<div>
    {{#with person}}
    <section>
        <div>
            <h1>{{name}}</h1>
            <h3>
                Age: {{age}} years
                <br>
                {{gender}}
            </h3>
            </p>
            {{#with address}}
            <address>
                <h4>Address:
                    {{street}},
                    {{city}},
                    {{state}},
                    {{zip}},
                    {{country}}
                </h4>
            </address>
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        {{>title data='Education' person=true}}
        <ul>
            {{#each education}}
            <li>
               <b>{{degree}}</b>
                <br>
                {{major}}
                <br>
                {{university}}
                <br>
                {{graduationYear}}
            </li>
            {{/each}}
        </ul>
    </section>
    <section>
        {{>title data='workExperience' person=true}}
        <ul>
        {{#each workExperience}}
            <li>
                <b>{{company}}</b>
                <br>
                {{title}}(from {{startDate}} to {{endDate}}) 
                <ul>
                {{#each responsibilities}}
                    <li>
                        <p>Developed new features for Google Maps</p>
                    </li>
                    <li>
                        <p>Worked on improving search algorithms</p>
                    </li>
                {{/each}}
                </ul>
            </li> 
            <br> 
           <hr>
           <hr>
           <br>
           {{>title data='Industry' person=true}}
            <li>
               <b>{{industry}}({{year_founded}})</b>
            </li>
            <br>
            <ul> 
            {{#each employees}}   
                <li>
                    <b>{{name}}</b>
                    <br>
                    {{position}}
                    <br>
                    {{department}}
                    <br> 
                    <br>                       
                    <ul> 
                    {{#each projects}}
                        <li>
                            <b> {{name}}</b>
                            <br>
                            "{{description}}"
                            <br>
                            <em>status: {{status}}</em>
                        </li>
                        <br>
                        <ul>
                        {{#each teams}}
                           <li>
                               <b>{{team_name}}</b>
                            </li>
                            <br>                                             
                            {{#with team_leader}}
                            <li>
                                <span>
                                    <b>{{title}}</b>
                                </span>
                                <br>
                                <div>
                                    {{> link text=name href=email blanc=true noLine=true }}
                                </div>
                            </li>
                            {{/with}}
                                <ul>
                                {{#each team_members}}   
                                    <li>      
                                        <span>{{title}}</span>
                                        <div>
                                            {{> link text=name href=email blanc=true noLine=true }}
                                        </div>
                                    </li> 
                                    <br>
                                    <li>
                                        <div>
                                            <span> 
                                                <b>Skills</b>
                                            </span>
                                            <br>
                                            {{skills.[0]}} {{skills.[1]}} {{skills.[2]}}
                                        </div>    
                                    </li>
                                    <br>
                                        <ul>
                                        {{#each projects}}
                                            <li>
                                               <b>{{name}}</b> 
                                                <br>
                                                {{description}}
                                            </li>
                                            <span>
                                                <em>
                                                    <u>technologies:</u>
                                                </em>
                                            </span>
                                            <br>
                                                {{technologies.[0]}} 
                                                <br>
                                                {{technologies.[1]}}
                                                <br>
                                                <br>
                                            <ul>
                                             <span>
                                                <b>
                                                  <u>Team members</u>
                                                </b>
                                            </span>   
                                            {{#each team_members}}
                                                <li>
                                                    {{name}}
                                                    <br>
                                                    {{title}}
                                                </li>
                                                <li>
                                                    {{name}}
                                                    <br>
                                                    {{title}}
                                                </li>
                                            {{/each}}       
                                            </ul>
                                        {{/each}}
                                        </ul>
                                {{/each}}
                                </ul>
                            {{/each}} 
                        </ul> 
                    {{/each}}
                    </ul>               
                </li>
            {{/each}}   
            </ul> 
        {{/each}} 
        </ul> 
    </section> 
    {{/with}}
</div>

