<main class='m-5'>
<div class='row'>
    <section>
      <div class='card m-3'>
       {{#with navigation}}
        <div class='row'>
          <div class='col-12'>
            <div class='nav nav-tabs'>
              {{#each links}}
                <div class='nav-item'>
                  <a
                    href='{{href}}'
                    class='nav-link'
                  >{{text}}</a>
                </div>
              {{/each}}
              <div class='nav-item'>
                  <a
                    href='#'
                    class='nav-link disabled'
                  > Disabled</a>
                </div>
            </div>
          </div>
        </div>
       {{/with}}
      </div>
    </section>
  </div>
  <section>    
    <div class='mt-4'>
      <h1>{{header}}</h1>
    </div>
    <div class='row mt-4 mb-5'>
      {{#with purchase}}
        <div class='col-12'>
          <div class='nav nav-tabs'>
            <div class='nav-item '>
              <a
                href='#'
                class='nav-link active'
              >{{tabs.[0]}}</a>
            </div>
            <div class='nav-item'>
              <a
                href='#'
                class='nav-link'
              >{{tabs.[1]}}</a>
            </div>     
          </div>
        </div>
        <div class='row'>
          {{#with actionBlock}}
            <div class='mt-4'>
              {{#with input}}
                <input placeholder='{{placeholder}}'>
              {{/with}}
              {{#each buttons}}
                {{#if isSuccess}}
                  <a class='btn btn-success ms-3'
                     href='{{link}}'>
                    {{text}}
                  </a>
                {{else}}
                  {{#if isOutline}}
                    <a class='btn btn-outline-success'
                      href='{{link}}'> 
                      {{text}}
                    </a>
                    {{else}}
                    <a class='btn btn-outline-danger'
                      href='{{link}}'>
                      {{text}}
                    </a>
                  {{/if}}
                {{/if}}
              {{/each}}
            </div>
          {{/with}}
        </div>
        <section class='mt-5'>
        <hr>
          {{#each itemList}}
            <div class='row'>
              <div class='col-12'>
                <div class='nav nav-tabs'>
                  <div class='nav-items'>
                    <div class='mt-5 me-5'>
                      {{number}}
                      <br>
                     <b>{{status}}</b> 
                    </div>
                  </div> 
                    <div class='col-2 ms-5 mt-5'>
                      {{amount.title}}
                      <br>
                     <b>{{amount.value}}</b>
                    </div>  
                  <div class='col-4'>
                    {{#each images}}
                    <img class=' mt-3 me-2' src='{{this}}'>
                    {{/each}}
                  </div>
                  <div class='col-3'>
                    {{#with button}}
                      <a class='btn btn-primary m-5'
                        href='{{link}}'>
                        {{text}}
                      </a>
                    {{/with}}
                  </div>
                </div>
              </div>
            </div> 
          {{/each}}
        </section>
      {{/with}}  
    </div> 
  <hr>  
  </section>
  <section>
    <div class='row g-3'>
      {{#with userInfo}}
        <h1 class='m-5'>{{title}}</h1>
        <div class='col-12'>
          <div class='card p-3'>
            {{#with profileData}}
             <h3>{{title}}</h3>
              <div class='card p-3 mb-3'>
                <div class='nav nav'>
                  <div class='nav-items col-4'>
                    {{#with fullName}}
                      {{surname.title}}
                      <br>
                      <b>{{surname.value}}</b>
                    {{/with}}
                  </div>
                  <div class='nav-items col-4 '>
                    {{#with fullName}}
                      {{name.title}}
                      <br>
                     <b>{{name.value}}</b> 
                    {{/with}}
                  </div>
                  <div class='nav-items col-4'>
                    {{#with fullName}}
                      {{middleName.title}}
                      <br>
                      <b>{{middleName.value}}</b> 
                    {{/with}}
                  </div>
                </div>  
              </div>
              <div class='card p-3 mb-3'>
                <div class='nav nav'>
                  <div class='nav-items col-4'>
                    {{#with otherInfo}}
                      {{birthday.title}}
                      <br>
                      <b>{{birthday.value}}</b>
                    {{/with}}
                  </div>
                  <div class='nav-items col-4'>
                    {{#with otherInfo}}
                      {{sex.title}}
                      <br>
                     <b>{{sex.value}}</b> 
                    {{/with}}
                  </div>
                  <div class='nav-items col-4'>
                    {{#with otherInfo}}
                      {{language.title}}
                      <br>
                      <b>{{language.value}}</b> 
                    {{/with}}
                  </div>
                </div>  
              </div>
            {{/with}}
            <div class='card p-3 row m-1'>
              <div class='nav nav col-12'>
                {{#each buttons}}
                  {{#if isPrimary}}
                  <div class='nav-items col-4'>
                    <a class='btn btn-primary'
                      href='{{link}}'>
                      {{text}}
                    </a>
                  </div>  
                  {{else}}
                    {{#if isSecondary}}
                    <div class='nav-items col-4'>
                      <a class='btn btn-outline-secondary'
                        href='{{link}}'> 
                        {{text}}
                      </a>
                    </div>  
                    {{else}}
                    <div class='nav-items col-4'>
                      <a class='btn btn-outline-danger'
                        href='{{link}}'>
                        {{text}}
                      </a>
                    </div>  
                    {{/if}}
                  {{/if}}
                {{/each}}
              </div>  
            </div>
          </div>   
        </div>
        <div class='card col-12 p-3 m-2'>
          {{#with recipients}}
            <h3>{{title}}</h3>
            <div class='nav nav'>
              {{#each users}}
                <div class='card col-3 mt-4 me-3'>
                  <div class='card-body'>
                    <b>{{name}}</b>
                    <p>{{phone}}</p> 
                    {{#with button}}
                      <a class='btn btn-primary col-5'
                        href='{{link}}'>
                        {{text}}
                      </a>
                    {{/with}}
                  </div>
                </div>     
              {{/each}}
            </div>   
          {{/with}}
        </div>
         <div class='card col-12 p-3 m-2'>
          {{#with contacts}}
            <h3>{{title}}</h3>
            <div class='nav nav'>
              {{#each contactData}}
                <div class='card col-3 mt-4 me-3'>
                  <div class='card-body'>
                    <p>{{title}}</p>
                    <b>{{value}}</b> 
                    {{#with button}}
                      {{#if isPrimary}}
                        <div class='nav-items col-4 mt-3'>
                          <a class='btn btn-primary'
                            href='{{link}}'>
                            {{text}}
                          </a>
                        </div>  
                      {{else}}
                        {{#if isSecondary}}
                        <div class='nav-items col-4 mt-3'>
                          <a class='btn btn-outline-secondary'
                            href='{{link}}'> 
                            {{text}}
                          </a>
                        </div>  
                        {{else}}
                        <div class='nav-items col-4 mt-3'>
                          <a class='btn btn-outline-danger'
                            href='{{link}}'>
                            {{text}}
                          </a>
                        </div>  
                        {{/if}}
                      {{/if}}
                    {{/with}}
                  </div>
                </div>     
              {{/each}}
            </div>   
          {{/with}}
        </div>
      {{/with}}
    </div>
  </section>
  <hr>
</main>
<footer> 
  <section>
    {{>footerShop}}
  </section>
</footer>   